<main class="error-container">
    <div class="error-icon">
        <span class="material-symbols-outlined">
            error
        </span>
    </div>
    <p class="error-text"><b>*¡Ha habido un error usuario!</b> Asegúrese de completar correctamente todos los campos del formulario
    </p>
    <div class="redirection">
        <a href="/recipes">Pulse aquí para volver</a>
    </div>
    
</main>