<div class="imc-title">
    <h2>Calculadora IMC</h2>
    <p><b>Hola Usuario,</b> aquí podrás conocer tu <b>IMC</b> (Índice de masa corporal)</p>
</div>
<article class="instructions">
    <p><b>Instrucciones:</b></p>
    <ul>
        <li>Debes escribir tu altura en cm</li>
        <li>Debes escribir tu peso en kg</li>
    </ul>
    <p><b>Datos a conocer:</b></p>
    <ul>
        <li>Si su IMC es inferior a 18.5, se encuentra en un rango de peso insuficiente</li>
        <li>Si su IMC se encuentra entre 18.5 y 24.9, está en un rango de peso saludable</li>
        <li>Si su IMC se encuentra entre 25.0 y 29.9, está en un rango de sobrepeso</li>
        <li>Si su IMC es superior a 30.0, está en un rango de obesidad</li>
    </ul>
</article>
<div class="calculator">
    <div>
        <label for="height"><h3>Altura</h3></label>
        <input type="text" name="height" id="height" placeholder="Altura en cm">
    </div>
    <div>
        <label for="weight"><h3>Peso</h3></label>
        <input type="text" name="weight" id="weight" placeholder="Peso en Kg">
    </div>
</div>
<div class="calculate-imc">
    <button class="calc-imc"><b>Calcular IMC</b></button>
</div>
<div class="result">
    
</div>