<footer class="foot">
    <div class="section description">
        <h3>
            ¡Bienvenidos a Healthy Foodies!
        </h3>
        <p>
            Aquí podrá disfrutar de un sitio web para los amantes de la comida y la vida sana, con todo tipo de herramientas a su entera disposición. ¡Esperemos que disfrute su experiencia!
        </p>
    </div>
    <div class="section links">
        <h3>Links</h3>
        <a href="/home">Página principal</a>
        <a href="/recipes">Tus Recetas</a>
        <a href="/foods">Tu lista de la compra</a>
        <a href="/imc-calculator">Calculadora IMC</a>
        <a href="/contact-us">Contáctanos</a>
    </div>
    <div class="section info">
        <h3>Dirección</h3>
        <p>Avenida Buenavista, 90, 36201 Vigo, España</p>
        <h4>Tlf de contacto</h4>
        <p>+34 91 067 90 12</p>
    </div>
</footer>