<section class="slider">
    <div class="slide">
        <img src="/img/img1.webp" alt="receta-1">
    </div>
    <div class="slide">
        <img src="/img/img2.webp" alt="receta-2">
    </div>
    <div class="slide">
        <img src="/img/img3.webp" alt="receta-3">
    </div>
    <div class="slide">
        <img src="/img/img4.webp" alt="receta-4">
    </div>
    <div class="slide">
        <img src="/img/img5.webp" alt="receta-5">
    </div>
    <div class="slide">
        <img src="/img/img6.webp" alt="receta-6">
    </div>
    <div class="slide">
        <img src="/img/img7.webp" alt="receta-7">
    </div>
</section>
<main class="main-container">
    <div class="section sect-1">
        <h2 class="subtitle">Recetas</h2>
        <p>Consulta, crea y edita tus recetas favoritas <a href="/recipes">aquí.</a></p>
    </div>
    <div class="section sect-2">
        <h2 class="subtitle">Lista de la compra</h2>
        <p>Consulta, crea y edita tu lista de la compra <a href="/foods">aquí.</a></p>
    </div>
    <div class="section sect-3">
        <h2 class="subtitle">Calculadora IMC</h2>
        <p>Consulta tu IMC para conocer tu estado físico <a href="/imc-calculator">aquí.</a></p>
    </div>
    <div class="section sect-4">
        <h2 class="subtitle">Contacta con nosotros</h2>
        <p>No dudes en contactar con nosotros y transmitirnos cualquier duda o petición <a href="/contact-us">aquí.</a></p>
    </div>
</main>