<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Healthy Foodies</title>
    <!--Estilos-->
    <link rel="stylesheet" href="/styles/root.css">
    <link rel="stylesheet" href="/styles/partials/navbar.css">
    <link rel="stylesheet" href="/styles/partials/footer.css">
    <link rel="stylesheet" href="/styles/recipes/listRecipes.css">
    <link rel="stylesheet" href="/styles/recipes/addRecipe.css">
    <link rel="stylesheet" href="/styles/recipes/editRecipe.css">
    <link rel="stylesheet" href="/styles/error/errorPage.css">
    <!--Icono menu-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"/>
    <!--Icono de error-->
    <link rel="stylesheet"href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"/>
</head>
<body>
    {{> navbar}} <!--Para los elementos comunes en todas las vistas-->


    {{{ body }}} <!-- Cuerpo principal -->


    {{> footer}}
    <script type="text/javascript" src="/scripts/navbar.js"></script> 
    <script type="text/javascript" src="/scripts/listRecipes.js"></script> 
</body>
</html>